#About {
  background-color: var(--color-bg);
}

.about-container {
  display: flex;
}

.about-img {
  flex: 1;
}

.about-logo {
  animation: About-logo-spin 20s linear infinite;
}

.about-description {
  flex: 1;
}

@keyframes About-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
