.home-container {
  display: flex;
  flex-direction: column;
}

.home-presenting {
  display: flex;
  margin-bottom: 50px;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.home-description {
  flex: 6;
  display: flex;
  flex-direction: column;
}

.home-title {
  font-size: 3.2rem;
}

.home-text {
  color: var(--color-text-light);
}

.home-links {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
}

.home-link {
  font-size: 1.2rem;
}

.home-link a {
  font-weight: bold;
}

.home-img {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img-container {
  border-radius: 100%;
  width: 100%;
  max-width: 350px;
  aspect-ratio: 1;
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-black-light);
  overflow: hidden;
}

.home-img-container img {
  object-fit: contain;
  max-width: 100%;
}

.home-skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-self: center;
  padding-top: 50px;
}

.skill-item {
  background-color: var(--color-bg);
  border-radius: 100%;
  width: 75px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  box-shadow: var(--shadow-black-light);
  margin: 5px 10px;
  padding: 5px;
}

.skill-item img {
  object-fit: contain;
  width: 40px;
}
